RewriteEngine on
RewriteRule ^note(/?)+$ index.php?p=note [QSA]
RewriteRule ^adminpanel(/?)+$ index.php?p=adminpanel [QSA]
RewriteRule ^note/([0-9]+)(/?)+$ index.php?p=note&id=$1 [QSA,L]
RewriteRule ^([0-9]+)(/?)+$ index.php?p=note&n=$1 [QSA,L]